@import url('../../../../../assets/styles/colors.css');

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    min-height: 100px;
}

.product-info {
    display: flex;
    align-items: center;
}

.img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 18px;
}

.title {
    font-size: 18px;
    margin-bottom: 7px;
}

.price {
    color: var(--orange);
}

.del-button {
    cursor: pointer;
    color: var(--red);
    transition: color, transform 300ms ease;
}

.del-button:hover {
    color: var(--red-hover);
    transform: scale(1.3);
}
