@import url('../../../../assets/styles/colors.css');

.category-list {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.category-item {
    cursor: pointer;
    background: var(--light-gray);
    border: 1px solid var(--gray);
    border-radius: 50px;
    padding: 8px 10px;
    transition: color, transform 300ms ease;
}

.category-item:hover {
    color: var(--white);
    background-color: var(--orange-hover);
    transform: scale(1.05);
    border-color: transparent;
}

.category-item.active {
    color: var(--white);
    background-color: var(--orange-active);
    transform: scale(1.05);
    border-color: transparent;
}

.all {
    font-weight: 500;
    color: var(--dark-gray);
    border-width: 2px;
}
